<div class="w3-container" style="padding:50px 16px;">

    <div ng-if="!es.loggedInUserId">
        <div class="w3-text-pink w3-center">
            <h3><a target="_self" href="login">Please click here to login as Admin..</a></h3>
        </div>
    </div>

    <div ng-if="es.loggedInUserId">
        <div class="w3-text-pink"><h3>Welcome {{es.loggedInUser.username}} ({{es.loggedInUser.role}})</h3></div>

        <div>
            <hr class="thinHr">
        </div>

        <div>
            <div class="w3-text-pink"><h3>Important Links</h3></div>
            <div class="rightSection">
                <a target="_blank" href="server/admin/requested">REQUESTED</a> |
                <a target="_blank" href="server/admin/registered">REGISTERED</a>
            </div>
        </div>

        <div>
            <hr class="thinHr">
        </div>


        <div>

            <div class="w3-text-pink"><h3>Delete Pic</h3></div>
            <div class="rightSection w3-card">
                <div class="w3-container">
                    <input ng-minlength="1" maxlength="50" ng-maxlength="50"
                           class="w3-input v3-input shortInput" type="text"
                           ng-model="es.adminDeletePic.profileId" placeholder="~Profile Id~"
                    />
                    <br>
                    <button type="button" class="w3-button w3-blue" ng-click="es.deletePic()"> Delete Pic</button>
                    <br><br>
                </div>
            </div>

        </div>

        <div>
            <hr class="thinHr">
        </div>

        <div>

            <div class="w3-text-pink"><h3>Delete Account</h3></div>
            <div class="rightSection w3-card">
                <div class="w3-container">
                    <input ng-minlength="1" maxlength="50" ng-maxlength="50"
                           class="w3-input v3-input shortInput" type="text"
                           ng-model="es.adminDelete.completeNumber" placeholder="ID:'ID' | Complete Number~"
                    />
                    <br>
                    <button type="button" class="w3-button w3-blue" ng-click="es.deleteAccount()"> Delete Account
                    </button>
                    <br><br>
                </div>
            </div>

        </div>
        <div>
            <hr class="thinHr">
        </div>

        <div>

            <div class="w3-text-pink"><h3>Get Details / Recharge</h3></div>
            ** Enter Profile ID or Phone Number with +91 to get other
            <div class="rightSection w3-card">
                <div class="w3-container">
                    <input ng-minlength="1" maxlength="50" ng-maxlength="50"
                           class="w3-input v3-input shortInput" type="text"
                           ng-model="es.adminRequest.completeNumber" placeholder="~Complete Number~"
                    />
                    <input ng-minlength="1" maxlength="50" ng-maxlength="50"
                           class="w3-input v3-input shortInput" type="text"
                           ng-model="es.adminRequest.profileId" placeholder="~Profile ID~"
                    />
                    <select class="w3-input v3-input shortInput" type="text"
                            ng-model="es.adminRequest.promocode" placeholder="Promo Code">
                        <option value="">Select Promo Code</option>
                        <option value="SILVER">SILVER - 1 Month</option>
                        <option value="GOLD">GOLD - 6 Months</option>
                        <option value="PLATINUM">PLATINUM - 1 Year</option>

                    </select>

                    <br>
                    <button type="button" class="w3-button w3-blue" ng-click="es.getProfileId()"> Get Profile ID /
                        Number /
                        Recharge
                    </button>
                    <br><br>
                </div>
            </div>

        </div>
        <div>
            <hr class="thinHr">
        </div>

        <div>

            <div class="w3-text-pink"><h3>Create Admin</h3></div>
            <div class="rightSection w3-card">
                <div class="w3-container">
                    <input ng-minlength="10" maxlength="10" ng-maxlength="10"
                           class="w3-input v3-input shortInput" type="text"
                           ng-model="es.createAdminRequest.completeNumber" placeholder="~Complete Number~"
                    />
                    <input ng-minlength="1" maxlength="50" ng-maxlength="50"
                           class="w3-input v3-input shortInput" type="text"
                           ng-model="es.createAdminRequest.firstName" placeholder="~First Name~"
                    />
                    <input ng-minlength="1" maxlength="50" ng-maxlength="50"
                           class="w3-input v3-input shortInput" type="text"
                           ng-model="es.createAdminRequest.lastName" placeholder="~Last Name~"
                    />
                    <input ng-minlength="1" maxlength="50" ng-maxlength="50"
                           class="w3-input v3-input shortInput" type="text"
                           ng-model="es.createAdminRequest.code" placeholder="~Code~"
                    />


                    <br>
                    <button type="button" class="w3-button w3-blue" ng-click="es.createAdmin()"> Create Admin
                    </button>
                    <br><br>

                </div>
            </div>

        </div>

        <div>
            <hr class="thinHr">
        </div>


        <div>

            <div class="w3-text-pink"><h3>Payment Status Check</h3></div>
            <div class="rightSection w3-card">
                <div class="w3-container">
                    <input ng-minlength="1" maxlength="50" ng-maxlength="50"
                           class="w3-input v3-input shortInput" type="text"
                           ng-model="es.apaymentStatus.paymentStatus" placeholder="~Profile ID~"
                    />
                    <br>
                    <button type="button" class="w3-button w3-blue" ng-click="es.getAdminPaymentStatus()"> Get Payment
                        Status
                    </button>
                    <br><br>
                </div>

                <div ng-show="es.adminPaymentTransactions">

                    <h4>Payment Details:</h4>

                </div>

                <ul class="w3-ul ">
                    <div ng-repeat="walletTransaction in es.adminPaymentTransactions">
                        <li class="w3-padding-16 w3-hover-shadow">
                            <div>
                                <div>
                                    <B>
                                        {{walletTransaction.createdOn | date}} &nbsp;&nbsp; - &nbsp;&nbsp;
                                        <span class="w3-text-grey w3-opacity-max">
                                #{{walletTransaction.merchantTransactionId}}
                                 <br>
                                InternalID: #{{walletTransaction.customerName}}

                            </span>
                                    </B>

                                    <div>
							<span ng-show="walletTransaction.amount">
                                <B>
								<span style="color: green; " ng-show="walletTransaction.tranCategory=='Credit'">
                                    <span ng-if="walletTransaction.balanceAfter">
                                        {{walletTransaction.balanceBefore | currency : '' }} + {{walletTransaction.amount | currency : '' }} <span
                                            class="w3-margin-right w3-margin-left"> => </span> {{walletTransaction.balanceAfter | currency : '' }}
                                    </span>

								</span>
								<span style="color: red; " ng-show="walletTransaction.tranCategory=='Debit'">
									<span ng-if1="walletTransaction.balanceAfter">
                                        {{walletTransaction.balanceBefore | currency : '' }} - {{walletTransaction.amount | currency : '' }} <span
                                            class="w3-margin-right w3-margin-left"> => </span> {{walletTransaction.balanceAfter | currency : '' }}
                                    </span>
                                </span>
                                </B>
							</span>
                                    </div>
                                </div>
                                <div>
                                    &nbsp; - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{walletTransaction.productInfo}} -
                                    {{walletTransaction.status}}
                                    <span ng-hide="walletTransaction.error_Message == '' || walletTransaction.error_Message=='No Error'">
							<br>
							<font style="color: red">
								&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{walletTransaction.error_Message}}
							</font>
						</span>
                                </div>
                            </div>
                        </li>

                    </div>

                </ul>
            </div>

            <div>
                <hr class="thinHr">
            </div>

            <div>

                <div class="w3-text-pink"><h3>Send SMS</h3></div>
                <div class="rightSection w3-card">
                    <div class="w3-container">
                        <input class="w3-input v3-input shortInput" type="text"
                               ng-model="es.sendSmsRequest.profileIds"
                               placeholder="~ Exp:'' |  Comma Separated Profile Ids~"
                        />
                        <br>
                        <textarea ng-minlength="1" maxlength="500" ng-maxlength="500"
                                  class="w3-input v3-input"
                                  ng-model="es.sendSmsRequest.smsText" placeholder="~ Number or SMS:SMS Text~"
                        ></textarea>
                        <br>
                        <br>
                        <button type="button" class="w3-button w3-blue" ng-click="es.sendRandomSms()"> Send SMS</button>
                        <br><br>
                        <br>
                        Exp:profilePic : { $ne: 'NA' }
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>