<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="edgeApp popupDiv">
    <div>
        <h3 class="w3-text-pink">{{es.lg.PwdResetForm}} </h3>
    </div>
    <form>
        <div class="form-group">
            <label class="formLabel">{{es.lg.PhoneNumber}}</label><input ng-show="false"
                                                                         class="w3-input w3-margin-top v3-input shortInput"
                                                                         style="border-bottom: 0px;" readonly="readonly"
                                                                         name="username"
                                                                         ng-model="es.signInForm.completeNumber"/>
            <input required ng-minlength="10" maxlength="10" ng-maxlength="10" min="1111111111" max="9999999999"
                   placeholder="~{{es.lg.PhoneNumber}}~" class="w3-input w3-margin-top v3-input"
                   type="text" pattern="[1-9]{1}[0-9]{9}" ng-model="es.signInForm.phoneNumber"
                   ng-blur="es.signInForm.completeNumber = '+91' + es.signInForm.phoneNumber "
                   title="~10 Digit Phone Number~"/>
        </div>
        <div class="form-group">
            <button class="w3-button w3-pink" type="button"
                    ng-click="es.sendVerificationCode(es.signInForm.completeNumber)"
                    ng-show="!es.verificationCodeStatus">{{es.lg.VerificationCodeButton}}
            </button>
            <button class="w3-button w3-pink" type="button"
                    ng-click="es.sendVerificationCode(es.signInForm.completeNumber)"
                    ng-show="es.verificationCodeStatus">{{es.lg.VerificationCodeButton}}
            </button>

            <input required="required" type="text" ng-model="es.signInForm.verificationCode"
                   class="w3-input w3-margin-top v3-input" placeholder="{{es.lg.VerificationCode}}">
            <h6>{{es.verificationCodeStatus}}</h6>

        </div>
        <div class="form-group">
            <label class="formLabel">{{es.lg.Password}}</label>
            <input required="required" type="password" name="password" ng-model="es.signInForm.password"
                   class="w3-input w3-margin-top v3-input" placeholder="{{es.lg.Password}}">
        </div>
        <div class="form-group">
            <label class="formLabel">{{es.lg.ConfirmPwd}}</label>
            <input required="required" type="password" name="password" ng-model="es.signInForm.confirmPwd"
                   class="w3-input w3-margin-top v3-input" placeholder="{{es.lg.ConfirmPwd}}">
        </div>
        <div class="form-group">
            <button class="w3-button w3-pink" type="button" ng-click="es.resetPassword()">{{es.lg.Submit}}</button>
            <button class="w3-button w3-red" type="button" ng-click="es.closePopup('FORGOT_PWD_POP_UP')">
                {{es.lg.Cancel}}
            </button>
            <button class="w3-button w3-blue" type="reset" ng-click="es.verificationCodeStatus=null">{{es.lg.Clear}}
            </button>
        </div>
    </form>
</div>
</body>
</html>

