<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="edgeApp popupDiv">
    <div><h3 class="w3-text-pink">Registration Form</h3></div>

    <div class="form-group">
        <label>Gender:</label>
        <input required="required" type="radio" ng-model="es.signUpForm.gender" value="Male">Male &nbsp;&nbsp;
        <input required="required" type="radio" ng-model="es.signUpForm.gender" value="Female">Female &nbsp;&nbsp;
    </div>

    <div class="form-group">
        We have sent verification code to {{es.signUpForm.completeNumber}}. Requesting you to please enter that in the
        space below.
        <input required ng-minlength="1" maxlength="50" ng-maxlength="50"
               class="w3-input w3-margin-top v3-input" placeholder="Verification Code"
               type="text" ng-model="es.signUpForm.verificationCode"
               title="~Verification Code~"/>
    </div>

    <div class="form-group">
        <label class="formLabel">{{es.lg.Password}}</label>
        <input required type="password" minlength="4" maxlength="30"
               class="w3-input w3-margin-top v3-input"
               ng-model="es.signUpForm.password"
               title="Password (Minimum 4 characters)" placeholder="{{es.lg.Password}}"/>
    </div>

    <div class="form-group">
        <label class="formLabel">Enter password again</label>
        <input required type="password" minlength="4" maxlength="30"
               class="w3-input w3-margin-top v3-input"
               ng-model="es.signUpForm.confirmPwd"
               title="Password (Minimum 4 characters)" placeholder="Enter Password again"/>
    </div>

    <div class="form-group">
        <button type="button" class="w3-button w3-pink" ng-click="es.signUp()">Submit</button>
        <button type="button" class="w3-button w3-red" ng-click="es.closePopup('SIGN_UP_POP_UP')">Cancel</button>
    </div>
</body>
</html>

