<div>
    <h4>
        {{es.lg.Personal}} <i class="fa fa-caret-down w3-margin-left"></i>
    </h4>
    <!-- <span style="cursor: pointer;" ng-show="es.loggedInUserId" ng-click="es.openPopup('FORGOT_PWD_POP_UP')"> <h6> (Click here to Change Password) </h6> </span> -->
    <div>
        <div class="leftSection" ng-show="false">{{es.lg.FirstName}}</div>
        <div class="rightSection">
            <input
                    id="profile_firstname" placeholder=" {{es.lg.FirstName}} "
                    required ng-minlength="1" maxlength="15" ng-maxlength="15" class="w3-input w3-margin-top v3-input"
                    type="text"
                    ng-blur="es.setProfileCookie(profile);" ng-model="profile.profileDetails.firstName"
                    title="First Name"
                    sizeUnused="59"/>
        </div>

        <div class="leftSection" ng-show="false">{{es.lg.LastName}}</div>
        <div class="rightSection">
            <input
                    id="profile_lastname" placeholder=" {{es.lg.LastName}} "
                    required ng-minlength="1" maxlength="15" ng-maxlength="15" class="w3-input w3-margin-top v3-input"
                    type="text"
                    ng-blur="es.setProfileCookie(profile);" ng-model="profile.secureDetails.lastName" title="Last Name"
                    sizeUnused="59"/>
        </div>

        <div class="leftSection" ng-show="false">{{es.lg.MaritalStatus}}</div>
        <div class="rightSection">
            <select required class="w3-input w3-margin-top v3-input"
                    ng-blur="es.setProfileCookie(profile);" ng-model="profile.profileDetails.maritalStatus"
                    title="Marital Status"
                    ng-options="db as ui for (db,ui) in es.maritalStatusList">
                <option value="">{{es.lg.MaritalStatus}}</option>
            </select>
        </div>

        <div class="leftSection" ng-show="false">{{es.lg.Education}}</div>
        <div class="rightSection">
            <select required class="w3-input w3-margin-top v3-input"
                    ng-blur="es.setProfileCookie(profile);" ng-model="profile.profileDetails.degreeType"
                    title="Academic Degree"
                    ng-options="db as ui for (db,ui) in es.degreeTypeList">
                <option value="">{{es.lg.MaximumDegree}}</option>
            </select>
        </div>

        <h5 class="regHeader">{{es.lg.Education}} {{es.lg.Details}}</h5>
        <div class="leftSectionSub" ng-show="false">{{es.lg.Details}}</div>
        <div class="rightSection">
            <input
                    ng-minlength="1" maxlength="50" ng-maxlength="50" class="w3-input w3-margin-top v3-input"
                    type="text"
                    ng-blur="es.setProfileCookie(profile);" ng-model="profile.profileDetails.degreeDetails"
                    title="Degree Details" sizeUnused="30"
                    placeholder="Education Details - {{es.lg.Optional}}"
            />
        </div>

        <h5 class="regHeader">{{es.lg.Birth}}</h5>
        <div class="leftSection" ng-show="false">{{es.lg.Birth}}</div>
        <div class="rightSection">

            <select required
                    class="w3-input w3-margin-top v3-input"
                    ng-blur="es.setBirthDate(profile);" ng-model="profile.profileDetails.birthDay"
                    ng-options="db as ui for (db,ui) in es.dayList">
                <option value="">{{es.lg.Day}}</option>
            </select>
            <select required
                    class="w3-input w3-margin-top v3-input"
                    ng-blur="es.setBirthDate(profile);" ng-model="profile.profileDetails.birthMonth"
                    ng-options="db as ui for (db,ui) in es.monthList">
                <option value="">{{es.lg.Month}}</option>
            </select>
            <select required
                    class="w3-input w3-margin-top v3-input"
                    ng-blur="es.setBirthDate(profile);" ng-model="profile.profileDetails.birthYear"
                    ng-options="db as ui for (db,ui) in es.yearList">
                <option value="">{{es.lg.Year}}</option>
            </select>
        </div>


        <div class="leftSection" ng-show="false">{{es.lg.About}} ({{es.lg.Optional}}):</div>
        <div class="rightSection">
            <textarea
                    id="profile_about"
                    rows="4" placeholder="Your introduction -  (Optional)"
                    class="w3-input w3-margin-top v3-input" ng-minlength="1" maxlength="500" ng-maxlength="500"
                    ng-blur="es.setProfileCookie(profile);" ng-model="profile.profileDetails.about" title="About"
            />
        </div>


    </div>

</div>